@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --primary-color: #0080ff;
    --secondary-color: #00d0ff;
    --background-color: rgba(5, 5, 5, 0.1);
    --font-family: "Trebuchet MS", Helvetica, sans-serif;
    --text-font: "Noto Sans", sans-serif;
    --font-size: 16px;
    --margin: 80px;
    --transition: 0.3s;
}

/** --------------- General Properties --------------- */

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
}

h2 {
    font-size: 48px;
    text-align: center;
}

p {
    font-family: var(--text-font);
}

ul {
    list-style-type: none;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color);
}

/** --------------- Navbar --------------- */

nav {
    position: sticky;
    top: 0;
    z-index: 1;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 48px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: var(--margin);
    background-color: #ffffff;
}

nav h1 {
    color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-style: italic;
    font-weight: 700;
    text-shadow: #000000cb 2px 1px 0px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 56px;
}

nav li {
    font-size: 24px;
    transition: var(--transition);
}

nav li:hover {
    color: var(--secondary-color);
    transform: translateY(-2px);
}

.active {
    background-image: linear-gradient(
        90deg,
        rgb(160, 200, 100, 0.5),
        rgb(70, 150, 130, 0.5),
        rgba(130, 100, 220, 0.5)
    );
    border-radius: 24px;
    padding: 8px;
}

.active:hover {
    color: var(--primary-color);
}

/** --------------- Home Hero Section --------------- */

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
    margin-top: var(--margin);
    margin-bottom: var(--margin);
}

.hero img {
    background-image: url("../images/background.jpeg");
    width: 400px;
    height: 400px;
    border: #000000;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    box-shadow: 0px 1px 4px 1px var(--background-color);
    transition: var(--transition);
}

.hero img:hover {
    transform: translateY(-4px);
    box-shadow: 0px 2px 8px 2px var(--background-color);
}

.hero-about h2 {
    text-align: left;
    font-size: 36px;
}

.hero-about p {
    font-weight: 600;
}

.hero-about {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 600px;
    height: 360px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 2px 16px 2px var(--background-color);
    transition: var(--transition);
    background-color: #ffffff;
}

.hero-about:hover {
    box-shadow: 0px 4px 32px 4px var(--background-color);
}

/** --------------- Home About Section --------------- */

.home-about {
    background-color: rgba(210, 210, 210, 0.5);
    padding: 64px 0px;
    margin-top: var(--margin);
    margin-bottom: var(--margin);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.home-about h3 {
    font-size: 24px;
    text-decoration: underline;
}

.home-about-parts {
    display: flex;
    align-items: center;
    gap: 64px;
}

.home-about-part {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #ffffff;
    width: 480px;
    padding: 24px;
    background-color: #000000;
    border-radius: 8px;
}

.home-about a {
    text-align: center;
    padding: 16px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    background-color: #000000;
    border-width: 2px;
    border-radius: 8px;
    border-style: solid;
    border-color: #000000;
    transition: var(--transition);
}

.home-about a:hover {
    transform: scale(1.2, 1.2);
    color: #000000;
    background-color: #ffffff;
}

/** --------------- Home Projects Section --------------- */

.home-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    margin-top: var(--margin);
    margin-bottom: var(--margin);
}

.home-projects h3 {
    font-size: 28px;
    margin-bottom: 16px;
}

.home-projects h4 {
    font-weight: 800;
    margin-top: 16px;
    margin-bottom: 8px;
}

.home-projects p {
    font-weight: 600;
}

.home-projects img {
    border-radius: 8px;
    width: 512px;
    height: 288px;
}

.home-projects-tags li {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    padding: 4px;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    border-radius: 24px;
}

.home-projects-part a {
    display: flex;
    align-items: center;
    border-radius: 8px;
}

.home-projects-part a p {
    color: #ffffff;
    background-color: #000000;
    padding: 4px;
    border-width: 2px;
    border-style: solid;
    border-color: #000000;
    border-radius: 8px;
    text-align: center;
    transition: var(--transition);
}

.home-projects-part a p:hover {
    color: #000000;
    background-color: #00000000;
}

.home-projects-parts {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 64px;
}

.home-projects-part {
    background-color: rgba(0, 0, 0, 0.065);
    box-shadow: 0px 4px 16px 4px var(--background-color);
    border-radius: 8px;
    width: 512px;
}

.home-projects-descriptor1 {
    background-color: #00ffa2;
    padding: 8px;
    border-radius: 8px;
}

.home-projects-descriptor2 {
    background-color: #90dcff;
    padding: 8px;
    border-radius: 8px;
}

.home-projects-descriptor3 {
    background-color: #ccc2ff;
    padding: 8px;
    border-radius: 8px;
}

.home-projects-tags {
    display: flex;
    gap: 4px;
    margin-bottom: 16px;
}

.home-projects-button {
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    background-color: #05152f;
    padding: 16px;
    border-width: 2px;
    border-style: solid;
    border-color: #000000;
    border-radius: 8px;
    transition: var(--transition);
}

.home-projects-button:hover {
    color: #000000;
    background-color: #9274be;
    transform: scale(1.2, 1.2);
}

/** --------------- Home Skills Section --------------- */

.home-skills {
    padding: 80px 0px;
    gap: 80px;
    margin-top: var(--margin);
    background-color: rgba(210, 210, 210, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-skills h3 {
    color: #ffffff;
    font-size: 28px;
}

.home-skills figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
}

.home-skills img {
    background-color: #ffffff;
    width: 50px;
    border-style: solid;
    border-width: 4px;
    border-color: #ffffff;
    border-radius: 4px;
    transition: var(--transition);
}

.home-skills img:hover {
    transform: scale3d(0.9, 0.9, 1);
}

.home-skills figcaption {
    font-family: var(--font-family);
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    height: 12px;
    margin: 4px 0px;
    color: #ffffff;
}

.home-skills a {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    background-color: #000000;
    width: 420px;
    padding: 24px;
    border-style: solid;
    border-color: #000000;
    border-radius: 16px;
    color: #ffffff;
    transition: var(--transition);
}

.home-skills a:hover {
    color: #000000;
    background-color: #ffffff;
}

.home-skills-part-section {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.home-skills-parts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.home-skills-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    gap: 44px;
    padding: 44px;
    background-color: #000000;
}

.home-skills-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 44px;
    width: 332px;
}

/** --------------- Home Contact Section --------------- */

.home-contact {
    margin-top: var(--margin);
    margin-bottom: var(--margin);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 64px;
}

.home-contact h3 {
    font-size: 36px;
    text-decoration: underline;
}

.home-contact p {
    font-size: 28px;
}

.home-contact a {
    align-self: start;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    padding: 4px;
    background-color: #000000;
    border-color: #000000;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    transition: var(--transition);
}

.home-contact a:hover {
    background-color: #00000000;
    color: #000000;
}

.home-contact-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
}

.home-contact-email {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 420px;
    height: 200px;
    padding: 8px;
    background-color: #ff7777;
    border-radius: 8px;
    box-shadow: 0px 4px 16px 4px var(--background-color);
}

.home-contact-socials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 420px;
    height: 200px;
    padding: 8px;
    background-color: #6cd5ff;
    border-radius: 8px;
    box-shadow: 0px 4px 16px 4px var(--background-color);
}

/** --------------- Home Footer Section --------------- */

.home-footer {
    margin-top: var(--margin);
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-footer-message {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 420px;
    border-top-style: dashed;
    border-top-color: #888888;
    border-top-width: 1px;
    padding: 4px 0px;
}

.home-footer-message p {
    font-size: 12px;
}
