@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --primary-color: #0080ff;
    --secondary-color: #00d0ff;
    --background-color: rgba(5, 5, 5, 0.1);
    --font-family: "Arial", sans-serif;
    --text-font: "Noto Sans", sans-serif;
    --font-size: 16px;
    --margin: 80px;
    --transition: 0.3s;
}

/** --------------- General Properties --------------- */

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
}

ul {
    list-style-type: none;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color);
}

/** --------------- Navbar --------------- */

.active {
    background-image: linear-gradient(
        90deg,
        rgb(160, 200, 100, 0.5),
        rgb(70, 150, 130, 0.5),
        rgba(130, 100, 220, 0.5)
    );
    border-radius: 24px;
    padding: 8px;
}

.active:hover {
    color: var(--primary-color);
}

nav {
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 48px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: var(--margin);
    background-color: #ffffff;
}

nav h1 {
    color: var(--primary-color);
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
    text-shadow: #000000ba 2px 1px 0px;
    margin: 8px;
    padding: 4px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
    gap: 56px;
    padding: 4px;
    margin: 8px;
}

nav li {
    font-size: 24px;
    transition: var(--transition);
}

nav li:hover {
    color: var(--secondary-color);
    transform: translateY(-2px);
}

/** --------------- Home Hero Section --------------- */

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 56px;
    margin-top: var(--margin);
    margin-bottom: var(--margin);
}

.hero img {
    background-color: rgba(210, 210, 210, 0.5);
    /* TODO: Add complex background */
    /* background-image: radial-gradient(
        circle at 50% 50%,
        #fbffe6 0%,
        #fffafa 55%,
        #fff9eb 70%,
        #ffe0bc 85%
    ); */
    width: 480px;
    height: 480px;
    border: #000000;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    transition: var(--transition);
}

.hero img:hover {
    transform: translateY(-4px);
    box-shadow: 0px 2px 8px 2px var(--background-color);
}

.hero-about {
    min-width: 600px;
    max-width: 600px;
    height: 456px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 2px 15px 2px var(--background-color);
    transition: var(--transition);
    background-color: #ffffff;
}

.hero-about:hover {
    box-shadow: 0px 4px 32px 4px var(--background-color);
}

.hero-about h2 {
    font-size: 28px;
    padding-bottom: 4px;
}

.hero-about p {
    font-family: var(--text-font);
    font-size: 16px;
    font-weight: 600;
}

/** --------------- Home About Section --------------- */

.home-about {
    background-color: rgba(210, 210, 210, 0.5);
    padding: 40px 64px;
    margin-top: var(--margin);
    margin-bottom: var(--margin);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.home-about h2 {
    text-align: center;
    font-size: 48px;
}

.home-about h3 {
    font-size: 24px;
    text-decoration: underline;
    padding-bottom: 12px;
}

.home-about p {
    font-size: 16px;
    font-family: var(--text-font);
}
.home-about-parts {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-about-part {
    color: #ffffff;
    width: 480px;
    height: 436px;
    margin: 8px 32px;
    padding: 24px;
    background-color: #000000;
}

.home-about a {
    text-align: center;
    width: 200px;
    height: 52px;
    padding: 16px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    background-color: #000000;
    border-width: 2px;
    border-radius: 24px;
    border-style: solid;
    border-color: #000000;
    transition: var(--transition);
}

.home-about a:hover {
    color: #000000;
    background-color: #ffffff;
}

/** --------------- Home Projects Section --------------- */

.home-projects {
    padding: 24px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    margin-top: var(--margin);
    margin-bottom: var(--margin);
}

.home-projects h2 {
    text-align: center;
    font-size: 48px;
}

.home-projects h3 {
    font-size: 28px;
    padding: 2px 0px;
}

.home-projects h4 {
    font-weight: 800;
    margin: 8px 0px;
}

.home-projects p {
    font-size: 16px;
    font-weight: 600;
    font-family: var(--text-font);
}

.home-projects img {
    border-radius: 8px;
    width: 512px;
    height: 288px;
}

.home-projects-parts {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    gap: 8px;
}

.home-projects-part {
    background-color: rgba(0, 0, 0, 0.065);
    box-shadow: 0px 4px 16px 4px var(--background-color);
    border-radius: 8px;
    width: 512px;
    height: fit-content;
}

.home-projects-descriptor1 {
    background-color: #00ffa2;
    padding: 8px;
    border-radius: 8px;
}

.home-projects-descriptor2 {
    background-color: #90dcff;
    padding: 8px;
    border-radius: 8px;
}

.home-projects-descriptor3 {
    background-color: #ccc2ff;
    padding: 8px;
    border-radius: 8px;
}

.home-projects-tags {
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin-bottom: 16px;
}
.home-projects-tags li {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    padding: 4px;
    height: 28px;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    border-radius: 24px;
}

.home-projects-part a {
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: 8px;
}

.home-projects-part a p {
    color: #ffffff;
    background-color: #000000;
    padding: 4px;
    border-width: 2px;
    border-style: solid;
    border-color: #000000;
    border-radius: 8px;
    text-align: center;
    transition: var(--transition);
}

.home-projects-part a p:hover {
    color: #000000;
    background-color: #00000000;
}

.home-projects-button {
    color: #ffffff;
    font-size: 24px;
    background-color: #05152f;
    padding: 16px;
    margin: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: #000000;
    border-radius: 4px;
    transition: var(--transition);
}

.home-projects-button:hover {
    color: #000000;
    background-color: #9274be;
    margin: 16px;
    padding: 20px;
}

/* TODO: Next section */

/** --------------- Home Skills Section --------------- */

.home-skills {
    padding: 24px 0px;
    gap: 80px;
    margin-top: var(--margin);
    /* margin-bottom: var(--margin); */
    background-color: rgba(160, 160, 160, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-skills h2 {
    text-align: center;
    font-size: 48px;
}

/* .home-skills-parts {
    background-color: #000000;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.home-skills-part {
    width: 1024px;
    padding-top: 20px;
    background-color: #ffffff;
} */
