@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --primary-color: #0080ff;
    --secondary-color: #00d0ff;
    --background-color: rgba(5, 5, 5, 0.1);
    --font-family: "Arial", sans-serif;
    --text-font: "Noto Sans", sans-serif;
    --font-size: 14px;
    --margin: 80px;
    --transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
}

ul {
    list-style-type: none;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color);
}

.active {
    background-image: linear-gradient(
        90deg,
        rgb(160, 200, 100, 0.5),
        rgb(70, 150, 130, 0.5),
        rgba(130, 100, 220, 0.5)
    );
    border-radius: 20px;
    padding: 10px;
}

.active:hover {
    color: var(--primary-color);
}

nav {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: var(--margin);
    background-color: #ffffff;
}

nav h1 {
    color: var(--primary-color);
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
    text-shadow: #000000ba 2px 1px 0px;
    margin: 5px;
    padding: 2px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
    gap: 60px;
    padding: 2px;
    margin: 5px;
}

nav li {
    font-size: 24px;
    transition: var(--transition);
}

nav li:hover {
    color: var(--secondary-color);
    transform: translateY(-2px);
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    max-width: 80%;
    margin-top: var(--margin);
    margin-bottom: var(--margin);
    margin-left: auto;
    margin-right: auto;
}

.hero img {
    background-image: radial-gradient(
        circle at 50% 50%,
        #ffffff 0%,
        #ffffff 55%,
        #dbdbdb 70%,
        #808080 85%
    );
    width: 30%;
    height: 30%;
    border: #000000;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    transition: var(--transition);
}

.hero img:hover {
    transform: translateY(-4px);
    box-shadow: 0px 2px 8px 2px var(--background-color);
}

.hero-about {
    max-width: 600px;
    width: 40%;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 15px 2px var(--background-color);
    transition: var(--transition);
    background-color: #ffffff;
}

.hero-about:hover {
    box-shadow: 0px 4px 30px 4px var(--background-color);
}

.hero-about h2 {
    font-size: 24px;
    font-weight: 700;
}

.hero-about p {
    font-family: var(--text-font);
    font-size: 16px;
    font-weight: 600;
}

.home-about {
    background-color: rgba(210, 210, 210, 0.5);
    padding: 20px 60px;
    margin-top: var(--margin);
    margin-bottom: var(--margin);
    margin-left: auto;
    margin-right: auto;
}

.home-about h2 {
    text-align: center;
    font-size: 48px;
}

/* \/ Under here needs fixing \/ */

/* .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    color: var(--text-color);
    max-width: 50%;
    font-family: var(--font-family);
    font-size: var(--font-size);
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
    background-color: var(--footer-bg-color);
    color: var(--text-color);
}

.footer .footer_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.footer .footer_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: var(--font-size);
}

.footer .footer_list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
}

.nav_small {
    display: flex;
    flex-direction: row;
    padding-right: 4px;
    padding-left: 4px;
} */
